<!doctype html>
<title>{% block title %}{% endblock %} - Recipes</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="/">Recipes</a></h1>
  <ul>
      <li><a href="/breakfast">breakfast</a></li>
      <li><a href="/lunch">lunch</a></li>
      <li><a href="/dinner">dinner</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
